{
  "prettier.arrowParens": "always",
  "prettier.bracketSpacing": true,
  "prettier.cursorOffset": -1,
  "prettier.endOfLine": "lf",
  "prettier.htmlWhitespaceSensitivity": "css",
  "prettier.insertPragma": false,
  "prettier.jsxBracketSameLine": true,
  "prettier.jsxSingleQuote": true,
  "prettier.printWidth": 80,
  "prettier.proseWrap": "preserve",
  "prettier.rangeEnd": null,
  "prettier.rangeStart": 0,
  "prettier.requirePragma": false,
  "prettier.semi": true,
  "prettier.singleQuote": true,
  "prettier.tabWidth": 2,
  "prettier.trailingComma": "none",
  "prettier.useTabs": false
}
